﻿
@model IEnumerable<MovieApp.Entity.MovieShowTimeModel>
@{
    ViewData["Title"] = "ShowMovieTime";
}

<h2>ShowMovieTimeList</h2>
<hr />

    <table class="table table-bordered bg-light">
       <thead>
         <tr>
           <th>ShowId</th>
           <th>MovieId</th>
           <th>TheatreId</th>
           <th>ShowTime</th>
           <th>Date</th>
           <th>Edit</th>
           <th>delete</th>
          </tr>
      </thead>
         
    <tbody>
         @foreach(var item in Model)
         {
         <tr>
         <td>@item.ShowId</td>
          <td>@item.MovieId</td>
           <td>@item.TheatreId</td>
           <td>@item.ShowTime</td>
            <td>@item.Date</td>
             <td><a asp-action="EditUser"  asp-route-ShowId=@item.ShowId>Edit</a></td>
            <td><a asp-action="Delete"  asp-route-ShowId=@item.ShowId>Delete</a></td>
         </tr>
         }
         </tbody>
         </table>
 

