﻿
@model MovieApp.Entity.UserModel;
@{
    ViewData["Title"] = "DeleteUser";
}

<a asp-action="ShowUserDetails" asp-controller="User">User Details</a>
<hr/>
<h2>Delete User</h2>
<form   method="post">
     <div class="form-group">
        <label for="UserId">UserId</label>
        <input type="text" class="form-control" asp-for="UserId" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">Firstname</label>
        <input type="text" class="form-control" asp-for="Firstname" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">Lastname</label>
        <input type="text" class="form-control" asp-for="Lastname"disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">Email</label>
        <input type="text" class="form-control" asp-for="Email"disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">Password</label>
        <input type="text" class="form-control" asp-for="Password" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">Mobile</label>
        <input type="text" class="form-control" asp-for="Mobile" disabled="disabled"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Delete">
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
    <a asp-controller="User" asp-action="UserLogin">Login</a>
</form>
