﻿
@model MovieApp.Entity.TheatreModel;
@{
    ViewData["Title"] = "DeleteTheatre";
}

<a asp-action="ShowTheatreDetails" asp-controller="Theatre">Theatre Details</a>
<hr/>
<h2>Delete Theatre</h2>
<form   method="post">
     <div class="form-group">
        <label for="UserId">TheatreId</label>
        <input type="text" class="form-control" asp-for="TheatreId" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">TheatreName</label>
        <input type="text" class="form-control" asp-for="TheatreName" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">TheatreCapacity</label>
        <input type="text" class="form-control" asp-for="TheatreCapacity"disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">TheatreType</label>
        <input type="text" class="form-control" asp-for="TheatreType"disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Firstname">TheatreLocation</label>
        <input type="text" class="form-control" asp-for="TheatreLocation" disabled="disabled"/>
    </div>
   
    <input type="submit" class="btn btn-primary" value="Delete">
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
    <a asp-controller="User" asp-action="UserLogin">Login</a>
</form>

