﻿
@model MovieApp.Entity.MovieModel;
@{
    ViewData["Title"] = "DeleteMovie";
}

<a asp-action="showMovieDetails" asp-controller="Movie">Movie Details</a>
<hr/>
<h2>Delete Movie</h2>
<form   method="post">
     <div class="form-group">
        <label for="MovieId">MovieId</label>
        <input type="text" class="form-control" asp-for="MovieId" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Moviename">Moviename</label>
        <input type="text" class="form-control" asp-for="Moviename" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Movietype">Movietype</label>
        <input type="text" class="form-control" asp-for="Movietype"disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="MovieDescription">MovieDescription</label>
        <input type="text" class="form-control" asp-for="MovieDescription"disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="Movielangauge">Movielangauge</label>
        <input type="text" class="form-control" asp-for="Movielangauge" disabled="disabled"/>
    </div>
   
    <input type="submit" class="btn btn-primary" value="Delete">
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
    <a asp-controller="Movie" asp-action="MovieLogin">Login</a>
</form>

