﻿
@model MovieApp.Entity.MovieModel;
@{
    ViewData["Title"] = "EditMovie";
}

<a asp-action="showMovieDetails" asp-controller="Movie">Movie Details</a>
<hr/>
<h2>Edit-Movie</h2>
<form method="post">
    <div class="form-group">
        <label for="Moviename">Moviename</label>
        <input type="text" class="form-control" asp-for="Moviename">
    </div>
    <div class="form-group">
        <label for="Movietype">Movietype</label>
        <input type="text" class="form-control" asp-for="Movietype">
    </div>
    <div class="form-group">
        <label for="MovieDescription">MovieDescription</label>
        <input type="text" class="form-control" asp-for="MovieDescription">
    </div>
    <div class="form-group">
        <label for="Movielangauge">Movielangauge</label>
        <input type="text" class="form-control" asp-for="Movielangauge">
    </div>
   
    <input type="submit" class="btn btn-primary" value="Update">
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
    <a asp-controller="Movie" asp-action="MovieLogin">Login</a>
</form>
